body { background-color: #FEF1F8;  }
h1, h2 { text-align: center; }
img {float: right; }

.sum1 { text-align: center;
border-top-style: dotted;
  border-bottom-style: dotted;
   }
 .som { text-align: center; }
 #poli { text-indent: 82px; }